@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

body {
    font-family: Arial, sans-serif;
    background-image:linear-gradient(to bottom, rgba(31, 31, 31, 0.85), rgba(31, 31, 31, 0.85))
    ,url(../static/Default_Gray_based_wallpaper_3.jpg);
    margin: 0;
    padding: 0;
  }
.Logo{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25vh;
}

.Logo a{
  color: #fff;
  text-decoration: none;
}

.Logo a:hover{
  text-decoration: underline;
}