<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cartão com 4 Campos</title>
<link rel="stylesheet" href="../static/jogo_solo.css">
</head>
<body>
    <div class="Logo">
        <h1>Recommendation</h1>
        <a href="{{ url_for('index') }}">Voltar ao início</a>
    </div>

    <div class="card">
  <div class="card-header">
    <h2>{{ linha.nome_jogos }}</h2>
  </div>
  <div class="card-body">
    <div class="field">
        <label for="genero">Gênero:</label>
        <span id="genero">{{ linha.genero_jogos }}</span>
    </div>
    <div class="field">
        <label for="plataforma">Plataforma:</label>
        <span id="plataforma">{{ linha.plataforma_jogos }}</span>
    </div>
    <div class="field">
        <label for="faixa">Faixa Etária:</label>
        <span id="faixa">{{ linha.faixaetaria_jogos }}</span>
    </div>
      {% if a == 0 %}
    <form action="{{ url_for('add') }}" method="POST">
    <div class="adicionar">
        <button class="game_perfil" id="game_id" name="game_id" type="submit" value="{{ linha.id_jogos }}">Adicionar aos Jogados</button>
    </div>
    </form>
      {% endif %}
      {% if a == 1 %}
    <form action="{{ url_for('favourite') }}" method="POST">
    <div class="favoritar">
        <button class="game_perfil" id="id_game" name="id_game" type="submit" value="{{ linha.id_jogos }}">Adicionar aos Favoritos</button>
    </div>
    </form>
      <form action="{{ url_for('avalia') }}" method="POST">
    <div class="avaliar">
        <div class="input-box">
            <label for="avalia">Nota:</label>
                <select name="avalia" id="avalia">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        <button type="submit" id="idJ" name="idJ" value="{{ linha.id_jogos }}" class="btn">Avaliar</button>
    </div>
    </form>
      {% endif %}
  </div>
</div>
</body>
</html>