<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barra de Pesquisa</title>
    <link rel="stylesheet" href="../static/jogo-info.css">
</head>
<body> 
    <div class="card">
        <div class="card-header">
          <h2>Cartão com 4 Campos</h2>
        </div>
        <div class="card-body">
          <div class="field">
            <label for="campo1">Campo 1:</label>
            <input type="text" id="campo1" name="campo1">
          </div>
          <div class="field">
            <label for="campo2">Campo 2:</label>
            <input type="text" id="campo2" name="campo2">
          </div>
          <div class="field">
            <label for="campo3">Campo 3:</label>
            <input type="text" id="campo3" name="campo3">
          </div>
          <div class="field">
            <label for="campo4">Campo 4:</label>
            <input type="text" id="campo4" name="campo4">
          </div>
        </div>
      </div>
</body>
</html>