<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Currículo</title>
    <link rel="stylesheet" href="../static/perfil.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="Logo">
            <h1>Recommendation</h1>
            <a href="{{ url_for('index') }}">Voltar ao início</a>
        </div>
    </header>

    <div class="container">
        <div class="esquerda">
            <div class="inform">
                <img src="" alt="">
                <h2>{{current_user.nome_usuario}}</h2>
            </div>
            <div class="genero">
                {% if a == 1 %}
                <p>{{genero}}</p>
                <p>{{genero2}}</p>
                {% endif %}
                {% if a == 0 %}
                <p>{{genero}}</p>
                {% endif %}
            </div>
            <div class="jogados">
                <h2>Outros Jogados</h2>
                    {% for game, tempo in jogos %}
                     <div class="card" style="background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)">
            <div class="card-header" style="background-color: rgb(255, 91, 91);
            color: #fff;
            padding: 10px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px">
                <h2>{{ game.nome_jogos }}</h2>
            </div>
            <div class="card-body">
              <div class="field">
                <label for="generoJ">Gênero:</label>
                <span id="generoJ">{{ game.genero_jogos }}</span>
              </div>
              <div class="field">
                <label for="tempoJ">Tempo Jogado:</label>
                <span id="tempoJ">{{ tempo }}</span>
              </div>
            </div>
    </div>
                    {% endfor %}
            </div>
        </div>
        <div class="direita">
            <div class="banner">
                <p>banner</p>
                <img src="" alt="">
            </div>
            <div class="favoritos">
                <p>Favoritos</p>
                    {% for game, tempo in favoritos %}
                     <div class="card" style="background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)">
            <div class="card-header" style="background-color: rgb(255, 91, 91);
            color: #fff;
            padding: 10px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px">
                <h2>{{ game.nome_jogos }}</h2>
            </div>
            <div class="card-body">
              <div class="field">
                <label for="genero">Gênero:</label>
                <span id="genero">{{ game.genero_jogos }}</span>
              </div>
              <div class="field">
                <label for="tempo">Tempo Jogado:</label>
                <span id="tempo">{{ tempo }}</span>
              </div>
            </div>
    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>